<section id="contact">
    <div style="position: relative;">
    <div class="content" >
        <h3>Contact</h3>
        <p> Get in touch with me</p>
        <div class="flex">
            <div class="object-skill">
                <div class="items">
                    <i class="fa fa-solid fa-user"></i>
                    <div>
                    <strong>Hiago dos Santos Rabelo</strong>
                    </div>
                </div>
                <hr>
                <div class="items">
                    <i class="fa fa-envelope fa-solid"></i>
                    <div>
                        <strong>E-mail</strong><br>
                        <a href="mailto:hiagop22@gmail.com" target="_blank">hiagop22&commat;gmail.com</a>
                    </div>
                </div>
                
                <div class="items">
                    <i class="fa fa-phone fa-solid"></i>
                    <div>
                        <strong>Phone</strong><br>
                        <a href="tel:+5561995468378" target="_blank">+55 61 99546-8378</a>
                    </div>
                </div>

                <div class="items">
                    <i class="fa fa-linkedin-square"></i>
                    <div>
                        <strong>Linkedin</strong><br>
                        <a href="https://www.linkedin.com/in/hiago-ds/" target="_blank">https://www.linkedin.com/in/hiago-ds/</a>
                    </div>
                </div>
                
                <div class="items">
                    <i class="fa fa-brands fa-github"></i>
                    <div>
                        <strong>Github</strong><br>
                        <a href="https://github.com/hiagop22" target="_blank">https://github.com/hiagop22</a>
                    </div>
                </div>
                
                <div class="items">
                    <i class="fa fa-solid fa-file"></i>
                    <div>
                        <strong>Resume</strong><br>
                        <!-- <a href="assets/resume.pdf" download="Hiago_resume.pdf">Download</a> -->
                        <a href="assets/resume.pdf" target="_blank">Download</a>
                    </div>
                </div>
            </div>
        </div>        
        <footer>
            <p>Copyright &copy; Hiago dos Santos 2024</p>
        </footer>
    </div>
</div>
</section>