@import "variables";

h3 {
    color: white;
}

p {
    color: white;
    padding: 30px 0px;
    font-size: 1rem;
}

div.content > p{
    text-align: center;
    // padding: 0px;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h4 {
    text-align: left;
    padding-left: 20px;
    padding-top: 50px;
}


section div.content {
    background-color: color-mix(in oklab, transparent, $color3 15%);
}


section div.flex {
    // margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section div.object-skill {
    text-align: center;
    margin: 20px;

    min-height: 150px;
    background-color: white;
   
    box-shadow: 5px 5px 10px black;
    border-bottom: 3px solid white;
    padding: 40px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}

div.items {
    display: flex; align-items: flex-start;
    padding-bottom: 15px;
}

div.items > div {
    margin-left: 10px; text-align: left;
}

div.items strong {
    font-size: 1.2rem;
}

.fa {
    font-size:24px; margin-top: 3px;
}


footer {
    text-align: center;
    height: 10vh;
    // background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

footer p{
    text-align: center;
}

hr {
    margin: 10px  0px;
}