/* Typical Device Breakpoints 
Recomendações do w3c na época do vídeo

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/
/* Extra small devices (phones, 600px and down) */
$phone-width: 922px;
$color1: #fff;
$color2: #676f9d;
$color3: #424769;
$color4: #2d3250;
$color5: #161E31;
$color6: #f9b17a;

$font1: "Lato", sans-serif;