<section id="certifications">
    <div class="content">
        <h3>Certifications</h3>
        <ul class="certifications">
            <li id="cert-gcpace">
                <a class="img" href="{{gcpACECertLink}}" target="_blank">
                </a>
                <h4><a href="{{gcpACECertLink}}" target="_blank">GCP Associate Cloud Engineer</a></h4>
                <h5>Issued on Nov 2025</h5>
                <p>Expires on November 19, 2028. "Earners of this certification can applications, monitor operations, and manage enterprise solutions in GCP".</p>
            </li>
            <li id="az400">
                <a class="img" href="{{az400Link}}" target="_blank">
                </a>
                <h4><a href="{{az400Link}}" target="_blank">Azure DevOps Engineer Expert (AZ-400)</a></h4>
                <h5>Issued on Mar 2026</h5>
                <p>Expires on Mar 16, 2027. "Earners of this certification design and implement DevOps practices for version control, compliance, infrastructure as code, configuration management, and continuous integration/continuous delivery (CI/CD) using Microsoft Azure".</p>
            </li>
            <li id="cert-azureassociate">
                <a class="img" href="{{azureAssocCertLink}}" target="_blank">
                </a>
                <h4><a href="{{azureAssocCertLink}}" target="_blank">Azure Administrator Associate (AZ-104)</a></h4>
                <h5>Issued on Jul 2025</h5>
                <p>Expires on July 30, 2026. "Earners of this certification can manage identities and governance, configure virtual networks, and monitor and back up resources in Azure".</p>
            </li>
            <li id="cert-azurefundamentals">
                <a class="img" href="{{azureFundCertLink}}" target="_blank">
                </a>
                <h4><a href="{{azureFundCertLink}}" target="_blank">Azure Fundamentals (AZ-900)</a></h4>
                <h5>Issued on Jan 2025</h5>
                <p>Does not expire.</p>
            </li>
            <li id="cert-developer">
                <a class="img" href="{{devCertLink}}" target="_blank">
                </a>
                <h4><a href="{{devCertLink}}" target="_blank">AWS Developer Associate</a></h4>
                <h5>Issued on Dec 2023</h5>
                <p>Expires on December 08, 2026. "Earners of this certification have a comprehensive understanding of application life-cycle management".</p>
            </li>
            <li id="cert-architect">
                <a class="img" href="{{arcCertLink}}" target="_blank">
                </a>
                <h4><a href="{{arcCertLink}}" target="_blank">AWS Solutions Architect Associate</a></h4>
                <h5>Issued on Oct 2023</h5>
                <p>Expires on December 08, 2026. "Earners of this certification have a comprehensive understanding of AWS services and technologies".</p>
            </li>
            <li id="cert-practitioner">
                <a class="img" href="{{pracCertLink}}" target="_blank">
                </a>
                <h4><a href="{{pracCertLink}}" target="_blank">AWS Cloud Practioner</a></h4>
                <h5>Issued on Oct 2023</h5>
                <p>Expires on December 08, 2026. "Earners of this certification have a fundamental understanding of IT services and their uses in the AWS Cloud".</p>
            </li>
        </ul>
    </div>
</section>