@import "variables";

h3 {
    color: black;
}

section div.content {
    background-color: rgba(212, 210, 210, 0.972);
}

:host {
    --img-size: 110px;
    --outside-line: 25px;
    --padding-content: 5px 0 50px calc(var(--img-size) + var(--outside-line) + 10px);
}

$gray-circle: rgba(0, 0, 0, 0.616);

@media (max-width: $phone-width)  {
    :host{
        --img-size: 60px;
        --outside-line: 25px;
        --padding-content: 15px 0 50px calc(var(--img-size) + var(--outside-line) + 10px);
    }

    ul {
        list-style: none;
        padding-left: 30px;
        padding-right: 10px;
    }
}

@mixin nonAwsLinkImg(){
    position: absolute;    
    left: 0;
    top: 0;
    width: var(--img-size);
    height: var(--img-size);
}

@mixin linkBlock(){
    display: inline-block;
    z-index: 2;
    background-color: transparent;
}

@mixin awsLinkImg(){
    @include nonAwsLinkImg();
    top: 20px;
}


@mixin func($name) {
    @if str-index($string: $name, $substring: "cert") {
        background-size: contain;
    }
    @else {
        background-size: cover;
    }
}

* {
    color: black;
}

@media (min-width: $phone-width)  {

    ul {
        list-style: none;
        padding-left: 40px;
        padding-right: 40px;
    }
}

h3.sub {
    font-size: 1.3rem;;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 25px;
    padding-top: 0px;
    text-decoration: underline $color3 2px;
}

h4 a {
    text-decoration: none;
}

h4, h5, p {
    padding: 8px;
}

h5, h5 a {
    font-weight: normal;
    text-decoration: none;
    color: $gray-circle;
}

h5 a:hover , h4 a:hover {
    text-decoration: underline;
}

hr {
    margin-bottom: 50px;
}

li {
    position: relative;
    overflow: hidden;
    padding: var(--padding-content);
    text-align: left;
}

ul.certifications li::after{
    box-sizing: border-box;
    content: "";
    @include awsLinkImg();
}

$imgs: "cert-practitioner", "cert-architect", 
       "cert-developer", "cert-azurefundamentals",
       "cert-azureassociate";
@each $img in $imgs {
  li##{$img}::after {
    background: url(../../../assets/timeline/#{$img}.png) no-repeat;
    @include func($img);
    }
}

ul.certifications a.img {
    @include linkBlock();
    @include awsLinkImg();
}


ul.certifications li a {
    text-decoration: none;
}

ul.certifications li a:hover {
    text-decoration: underline;
}