<section id="certifications">
    <div class="content">
        <h3>Certifications</h3>
        <ul class="certifications">
            <li id="cert-azureassociate">
                <a class="img" href="{{azureAssocCertLink}}" target="_blank">
                </a>
                <h4><a href="{{azureAssocCertLink}}" target="_blank">Azure Administrator Associate (AZ-104)</a></h4>
                <h5>Issued on Jul 2025</h5>
                <p>Expires on July 30, 2026. "Earners of this certification can manage identities and governance, configure virtual networks, and monitor and back up resources in Azure".</p>
            </li>
            <li id="cert-azurefundamentals">
                <a class="img" href="{{azureFundCertLink}}" target="_blank">
                </a>
                <h4><a href="{{azureFundCertLink}}" target="_blank">Azure Fundamentals (AZ-900)</a></h4>
                <h5>Issued on Jan 2025</h5>
                <p>Does not expire.</p>
            </li>
            <li id="cert-developer">
                <a class="img" href="{{devCertLink}}" target="_blank">
                </a>
                <h4><a href="{{devCertLink}}" target="_blank">Developer Associate</a></h4>
                <h5>Issued on Dec 2023</h5>
                <p>Expires on December 08, 2026. "Earners of this certification have a comprehensive understanding of application life-cycle management".</p>
            </li>
            <li id="cert-architect">
                <a class="img" href="{{arcCertLink}}" target="_blank">
                </a>
                <h4><a href="{{arcCertLink}}" target="_blank">Solutions Architect Associate</a></h4>
                <h5>Issued on Oct 2023</h5>
                <p>Expires on December 08, 2026. "Earners of this certification have a comprehensive understanding of AWS services and technologies".</p>
            </li>
            <li id="cert-practitioner">
                <a class="img" href="{{pracCertLink}}" target="_blank">
                </a>
                <h4><a href="{{pracCertLink}}" target="_blank">Cloud Practioner</a></h4>
                <h5>Issued on Oct 2023</h5>
                <p>Expires on December 08, 2026. "Earners of this certification have a fundamental understanding of IT services and their uses in the AWS Cloud".</p>
            </li>
        </ul>
    </div>
</section>