<header style="height: 100vh;">
    <section id="above" style="padding-bottom: 50px">
    <div id="nav">
        <ul>
        <li><a id="nav-home" href="#above">home</a></li>
        <li><a id="nav-about" href="#about">about</a></li>
        <li><a id="nav-skills" href="#skills">skills</a></li>
        <li><a href="#">projects</a></li>
        <li><a id="nav-timeline" href="#timeline">timeline</a></li>
        <li><a href="#">resume</a></li>
        <li><a href="#">contact</a></li>
        </ul>
    </div>
    </section>
    <section id="home" style="height: calc(100% - 50px);">
        <div id="div-home">
            <img id="me-img" src="assets/me.jpg" alt="Hiago dos Santos">
            <h1>Hi, I'm Hiago</h1>
            <h4>Software Engineer </h4>
            <p>Machine Learning - backend - AWS Cloud </p>
        </div>

        <div class="cert-container">
            <ul>    
                    <a class="cert" href="https://www.credly.com/badges/48a0c785-af6f-4aef-8b88-05222da1da43?trk=feed_main-feed-card_feed-article-content" target="_blank">
                    <img class="cert" id="first-image" src="assets/certifications/cloud_practioner.png" alt="clould practioner">
                    </a>
                    

                    <a class="cert" 
                    href="https://www.credly.com/badges/8337e18e-1ba8-4d19-876f-a602fff1b5be" target="_blank">
                    <img class="cert" id="second-image"
                    src="assets/certifications/developer_associate.png" alt="developer associate">
                    </a>

                    <a href="https://www.credly.com/badges/8147d80d-a2a2-4c40-bb07-a1c2d3ffa078?trk=feed_main-feed-card_feed-article-content" target="_blank">
                    <img class="cert" 
                    id="third-image" 
                    src="assets/certifications/solutions_architect_associate.png" alt="solutions architect associate">
                    </a>
            </ul>
        </div>
    </section>
</header>
