@import "variables";

header {
    background: linear-gradient(to top, var(--color5), rgba(255, 255, 255, 0.044)), url("/assets/pexels-photo-13618459.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: bottom center;
    background-size: cover;
}

header div#nav {
    width: 100%;
    
    overflow: hidden;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    z-index: 2;
}

.menu-color {
    background-color: #2d3250e8;
    transition: 0.5s;
}

.color-js {
    border-bottom: var(--color4) 2px solid; 
    transition: 0.5s;
}

.non-color-js {
    margin: auto;
    text-align: center;
    width: 60%;
    border-bottom: var(--color2) 2px solid; 
}

header div#nav ul{
    /* border-bottom: var(--color4) 2px solid;  */
    text-align: center;
    text-transform: uppercase;
    padding: 25px;
}

header div#nav a {
    text-decoration: none;
    padding: 25px 20px;
    color: white;
}

header div#nav a:hover {
    border-bottom: var(--color6) 2px solid;
    padding-bottom: 25px;
    color: var(--color6);
}

header div#nav a.menu-active {
    border-bottom: var(--color6) 2px solid;
    padding-bottom: 25px;
    color: var(--color6);
}

header li {
    display: inline;
}

header div#div-home {
    padding-top: 120px;
}

header img#me-img {
    display: block;
    margin: auto;

    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 8px solid white;
}

header h1, h2, h3, p {
    text-align: center;
    color: var(--color1);
}



header h4 {
    text-align: center;
}

header p {
    margin: auto;
    width: 350px;
    border-bottom: 1px var(--color2) solid;
    padding: 10px 0px;
    color: var(--color1);
}



header div.cert-container {
    margin: auto;
    text-align: center;
    margin-top: 50px;
    max-width: 370px;
    /* background-color: white; */
}


header img.cert {
    padding: 15px 10px;
    width: 100px;
    /* background-color: black; */
}


header div.cert-container:hover img:not(:hover) {
    filter: blur(2px);
    z-index: 0;
    position: relative;
}

header div.cert-container:hover img:hover {
    /* transform: translate(-15px, -15px);
    filter: drop-shadow(15px 15px 0 var(--color4)); */
    transform: scale(1.2);
    position: relative;
    z-index: 1;
}


@media (max-width: $phone-width)  {
    header img#me-img {
        width: 150px;
        height: 150px;
        border: 6px solid white;
    }

    // header div#div-home {
    //     padding-top: 60px;
    // }
    
}