h3 {
    color: black;
}

section {
    display: flex;
    background-color: rgb(207, 206, 206);
    background: url(../../../assets/national-museum.jpg) no-repeat fixed;
    background-position: center center;
    background-size: cover;

}

section div.content {
    float: right;
    background-color: #ffffffce;
}

section p, section h3 {
    color: black;
}

p {
    line-height: 2rem;
    padding-bottom: 15px;
}

h3#contact {
    text-align: left;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}