<section id="about">
    <div class="content" >
        <h3>About me</h3>
        <p>
            My journey began at the University of Brasília (UnB), where I pursued a degree in Mechatronic Engineering, honing my skills in mathematics, programming, and engineering principles. Alongside my studies, I actively engaged in extracurricular activities, including serving as a Teaching Assistant for various courses and contributing to autonomous robotics project for the UnBall Team.
        </p>
        <p>
            During graduation, I delved into the world of data science, applying my expertise in Python, Pytorch, TensorFlow, and OpenCV to develop neural networks for keypoint detection, object detection, and semantic segmentation tasks. My passion for continuous learning led me to obtain AWS certifications, solidifying my proficiency in cloud technologies and infrastructure management.
        </p>
        <p>
            In addition to my professional endeavors, I'm also deeply involved in the academic community, having published research papers in renowned journals and presented my work at scientific conferences. My dedication to advancing knowledge in the field of technology extends beyond academia; I actively seek continuous learning opportunities to evolve in frontend technologies such as AngularJS, HTML, and CSS, as well.
        </p>


        <!-- <h3 id="contact">Contact details</h3>
        <p>
            Hiago dos Santos <br>
            <strong>Email: </strong><a href="mailto:hiagop22@gmail.com.com" target="_blank">hiagop22&commat;gmail.com</a>
            <br>
            <strong>Linkin: </strong><a href="https://www.linkedin.com/in/hiago-ds/">https://www.linkedin.com/in/hiago-ds/</a>
            <br>
            <strong>Github: </strong><a href="https://github.com/hiagop22">https://github.com/hiagop22</a>
        </p> -->
    </div>
</section>