@import "variables";

header {
    // background: linear-gradient(to top, $color5, rgba(255, 255, 255, 0.044)), url(../../../assets/pexels-photo-13618459.jpeg);
    background: linear-gradient(to top, $color5, rgba(255, 255, 255, 0.044)), url(../../../assets/tower3.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: max(100%, 900px);
    background-position: center center;
    background-size: cover;
}

$padding-border: 25px;

header div#nav {
    width: 100%;
    
    overflow: hidden;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    z-index: 2;
}

.menu-color {
    background-color: #2d3250e8;
    transition: 0.5s;
}

.color-js {
    border-bottom: $color4 2px solid; 
    transition: 0.5s;
    // width: 20%;
    // margin: 100%;
}

.non-color-js {
    margin: auto;
    text-align: center;
    width: 60%;
    border-bottom: $color2 2px solid; 
}

.show {
    display: none;
}

.hide {
    display: block;
}



span#burguer {
    font-size: 1.5rem;
    padding: 0px;
    display: none;
    text-align: center;
    position: relative;
    top: 25px;
}

span#burguer:hover {
    color: white;   
    cursor: pointer;
}


header div#nav ul{
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    padding: 25px;
}

header div#nav a {
    text-decoration: none;
    padding: $padding-border 20px;
    color: white;
}

@mixin border() {
    border-bottom: $color6 2px solid;
    padding-bottom: $padding-border;
    color: $color6;
}

header div#nav a:hover {
    @include border();
}

header div#nav a.menu-active {
    @include border();
}

header li {
    display: inline;
    padding: $padding-border calc((500*$padding-border)/vw)px;
}

header div#div-home {
    padding-top: 220px;

    position: absolute;
    top: max(400px, calc(100% / 2));
    left: 50%;
    transform: translate(-50%, -50%);
}

header img#me-img {
    display: block;
    margin: auto;

    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 8px solid white;
}

header h1 {
    padding-top: 25px;
}

header h1, h2, h3, p {
    text-align: center;
    color: $color1;
}



header h4 {
    text-align: center;
}

header p {
    margin: auto;
    width: 350px;
    border-bottom: 1px $color2 solid;
    padding: 10px 0px;
    color: $color1;
}



div.cert-container {
    margin: auto;
    text-align: center;
    margin-top: 50px;
}


header img.cert {
    padding: 15px 10px;
    width: 100px;
}


div.cert-container:hover img:not(:hover) {
    filter: blur(2px);
    z-index: 0;
    position: relative;
}

div.cert-container:hover img:hover {
    transform: scale(1.2);
    position: relative;
    z-index: 1;
}


@media (max-width: $phone-width)  {
    $padding-border: 10px;

    header img#me-img {
        width: max(120px, 50%);
        height: max(120px, 50%);
        border: 6px solid white;
    }

    header div#div-home {
        padding-top: 60px;
    }
    

    header img.cert {
        width: 80px;
    }

    header li {
        display: block;
        padding: 5px 0px;
    }

    @mixin pad-nav {
        padding-left: 20%;
        padding-right: 20%;
    }

    @mixin border() {
        border-bottom: none;
        // background-color: blue;
        padding-bottom: $padding-border;
        // background-color: red;
        @include pad-nav();
        // padding-right: 100%;
        // color: $color6;
    }

    header div#nav a:hover {
        @include border();
    }
    
    header div#nav a.menu-active {
        @include border();
    }
    

    header div#nav ul{
        // margin: auto;
        // text-align: center;
        // text-transform: uppercase;
        padding-bottom: 25px;
        // padding: 25px;
    }
    
    header li {
        padding: $padding-border;
    }
    
    header div#nav a {
        padding: $padding-border 20px;
        @include pad-nav();
    }

    span#burguer {
        display: block;
    }

    .non-color-js {
        border-bottom: transparent; 
    }
    
}
