<section id="skills">
    <div class="content">
        <h3>Skills</h3>
        <h4>Machine Learning Frameworks</h4>
        <div class="flex">
            <div class="object-skill">
                <img src="assets/skills/Keras.svg" alt="pyhton logo">
                <p>
                    <strong>Keras:</strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>

            <div class="object-skill">
                <img src="assets/skills/pytorch.png" alt="Pytorch logo">
                <p>
                    <strong>Pytorch:</strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>
        </div>

        <h4>Image processing and math libs</h4>
        <div class="flex">
            <div class="object-skill">
                <img src="assets/skills/opencv.png" alt="OpenCV logo">
                <p>
                    <strong>OpenCV: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>

            <div class="object-skill">
                <img src="assets/skills/numpy.svg" alt="numpy logo">
                <p>
                    <strong>Numpy:</strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>
        </div>

        <h4>Backend Frameworks</h4>
        <div class="flex">
            <div class="object-skill">
                <img src="assets/skills/fastapi.png" alt="FastAPI logo">
                <p>
                    <strong>FastAPI:</strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>

            <div class="object-skill">
                <img src="assets/skills/django-logo.svg" style="scale: 1.5;" alt="django logo">
                <p>
                    <strong> Django: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>
        </div>

        <h4>Programming Language / FrontEnd</h4>
        <div class="flex">
            <div class="object-skill">
                <img src="assets/skills/python.svg" alt="Python logo">
                <p>
                    <strong>Python: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>

            <div class="object-skill">
                <img src="assets/skills/c++.svg" alt="c++ logo">
                <p>
                    <strong>C++: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>
            <div class="object-skill">
                <img src="assets/skills/html.png" alt="html5 logo">
                <img src="assets/skills/css3.svg" alt="css3 logo">
                <img src="assets/skills/javascript.svg" alt="Javascript  logo">
                <p>
                    <strong>HTML5, CSS3 and Javascript: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>

            <div class="object-skill">
                <img src="assets/skills/angular.svg" alt="AngularJS logo">
                <p>
                    <strong>AngularJs: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>
        </div>


        <h4>Cloud</h4>
        <div class="flex">
            <div class="object-skill">
                <img src="assets/skills/aws.webp" style="background-color: white;" alt="AWS logo">
                <p>
                    <strong>AWS: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>

            <div class="object-skill">
                <img src="assets/skills/terraform.svg" alt="Terraform logo">
                <p>
                    <strong>Terraform: </strong>
                    Após finalizado o curso de 
                    <a href="https://www.udemy.com/certificate/UC-03b8d876-5e3e-4beb-889c-357425bcd2ac/">Automating AWS infrasctructure with terraform</a>, either the knowlege was used in the current work to provision Infra as Code (IaC) and some personal projects was made, such as:
                    <!-- <ul>
                        <li><a href="" target="_blank"></a>Current website</li>
                        <li><a href="https://github.com/hiagop22/Serveless-API-AWS" target="_blank"></a></li>
                    </ul> -->
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>
        </div>

        <h4>Database</h4>
        <div class="flex">
            <div class="object-skill">
                <img src="assets/skills/postgreSQL.png" alt="PostgreSQL logo">
                <p>
                    <strong>PostgreSQL:</strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>

            <div class="object-skill">
                <img src="assets/skills/mysql.png" style="background-color: white;" alt="MySQL logo">
                <p>
                    <strong>MySQL:</strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>
        </div>

        <h4>Container</h4>
        <div class="flex">
            <div class="object-skill">
                <img src="assets/skills/docker-logo.svg" alt="Docker logo">
                <p>
                    <strong>Docker: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>

            <div class="object-skill">
                <img src="assets/skills/docker-compose.png" alt="Docker Compose logo">
                <p>
                    <strong>Docker Compose: </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </p>
            </div>
        </div>
    </div>
</section>