<section id="skills">
    <div class="content">
        <h3>Skills / Projects</h3>
        <p>
            Each card contain a collection of projects related to the respective skill.
        </p>
        <h4>Machine Learning Frameworks</h4>
        <div class="flex">
            <div class="object-skill">
                <img src="assets/skills/Keras.png" alt="pyhton logo">
                <div class="box">
                    <p>
                        <strong>Keras </strong>
                    </p>
                    <ul>
                        <li>
                            <a href="https://github.com/hiagop22/Fundamentos_Sistemas_Inteligentes/tree/master" target="_blank">Pest Classification</a>: A project focused on developing a neural network using the Keras Framework for the classification of pests in tomato plantations.
                        </li>
                        <li>
                            <a href="https://github.com/hiagop22/old-keras-projects" target="_blank">Old Keras Projects</a>: Aims to showcase some topics studied in in the subject of Machine Learning, when I used keras Framework and sklearn.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="object-skill">
                <img src="assets/skills/pytorch.png" alt="Pytorch logo">
                <div class="box">
                    <p>
                        <strong>Pytorch </strong>
                    </p>
                    <ul>
                        <li>
                            <a href="https://github.com/hiagop22/unball_ia" target="_blank">UnBall IA</a>: 
                            This respository store my final course project for college, wich focuses on Reinforcement Learning applied to autonomous robot soccer. The technologies applied to this project include: 
                            Pytorch lightning framework, onnx models, hydra config,
                            Clearml and Tensorboard reports. 
                        </li>
                        <li>
                            <a href="https://github.com/hiagop22/facial-recognition-IA" target="_blank"> Facial Recognition IA</a>: This aims to showcase the use of Pytorch to recognize people. This repository covers some topics, such as: Pytorch lightning framework; Overfitting prevention; Siamese models; Augmentation techniques; Matplotlib.
                        </li>
                        <!-- <li>
                            <a href="" target="_blank"></a>
                        </li> -->
                    </ul>
                    
                </div>
            </div>
        </div>

        <h4>Image processing and math libs</h4>
        <div class="flex">
            <div class="object-skill">
                <img src="assets/skills/opencv.png" alt="OpenCV logo">
                <div class="box">
                    <p>
                        <strong>OpenCV </strong>
                    </p>
                    <ul>
                        <li>
                            <a href="https://github.com/hiagop22/Introducao-Processamento-Imagens/tree/master/trabalho%202" target="_blank">IPI subject
                            </a>: A set of filters used with the purpose of 
                            segment specific regions from images without using
                            neural networks. 
                        </li>
                    </ul>
                </div>
            </div>

            <div class="object-skill">
                <img src="assets/skills/numpy.svg" alt="numpy logo">
                <div class="box">
                    <p>
                        <strong>Numpy </strong>
                    </p>
                    <ul>
                        <li>
                            <a href="https://github.com/hiagop22/old-keras-projects/tree/master/Single%20layer%20perceptron" target="_blank">Single Layer Perceptron</a>: A implementation of single layer perceptron using only numpy
                        </li>
                        <li>
                            <a href="https://github.com/hiagop22/old-keras-projects/tree/master/Multilayer%20perceptron" target="_blank">Multi Layer Perceptron</a>: A implementation of multi layer perceptron using only numpy
                        </li>
                        <li>
                            <a href="https://github.com/hiagop22/Introducao-Processamento-Imagens/tree/master/trabalho%201" target="_blank">IPI subject</a>: Implementations of image process functions using only numpy, such as: downscale, upscale, 
                            homomorphic and butterworh filters.
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>

        <h4>Backend Frameworks</h4>
        <div class="flex">
            <div class="object-skill">
                <img src="assets/skills/fastapi.png" alt="FastAPI logo">
                <div class="box">
                    <p>
                        <strong>FastAPI </strong>
                    </p>
                    <ul>
                        <li>
                            <a href="https://github.com/hiagop22/Serveless-API-AWS/tree/master" target="_blank">Serveless API AWS</a>: This project demonstrates a simple project showcasing how to create an API in AWS using Terraform + FastAPI + Pytest + ECR + JWT + Lambda.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="object-skill">
                <img src="assets/skills/django-logo.svg" style="scale: 1.5;" alt="django logo">
                <div class="box">
                    <p>
                        <strong> Django </strong>
                    </p>
                    <ul>
                        <li>
                            <a href="https://github.com/hiagop22/users-managment-django" target="_blank">Users managment Django</a>:
                            Person registration system, using the Python programming language and the Django Framework.
                        </li>
                        <li>
                            <a href="https://github.com/hiagop22/Desafio_Recruitment" target="_blank">Jobs dashboard</a>:
                            A system which allows registration and login of applicants so that, after logging in, they can register, update, and delete jobs. (Unfinished)
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <h4>Programming Language / FrontEnd</h4>
        <div class="flex">
            <div class="object-skill">
                <img src="assets/skills/python.png" alt="Python logo">
                <div class="box">
                    <p>
                        <strong>Python </strong>
                    </p>
                    <p style="text-align: justify;">
                        I have over 5 years of software development exeperience in Python, all my packages related to machine learning and backend are integrated with Python libraries.
                    </p>
                </div>
            </div>

            <div class="object-skill">
                <img src="assets/skills/c.svg" alt="c++ logo">
                <div class="box">
                    <p>
                        <strong>C / C++: </strong>
                    </p>
                    <ul>
                        <li>
                            <a href="https://github.com/hiagop22/Projeto-CPE" target="_blank">Contact book</a>: A project written in c++ which emulates a contact book. It options to create, list, search, delete, and update contacts. All informations are saved into a binary file.
                        </li>
                        <li>
                            <a href="https://github.com/hiagop22/Estrutura_de_Dados" target="_blank">Data Structure Codes</a>: 
                            Some codes related to the subject of data structure,  including binary tree algorithms.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="object-skill">
                <img src="assets/skills/html.png" alt="html5 logo">
                <img src="assets/skills/css3.png" alt="css3 logo">
                <img src="assets/skills/javascript.svg" alt="Javascript  logo">
                <img src="assets/skills/angular-logo.png" alt="Angular logo">
                <div class="box">
                    <p>
                        <strong>HTML5, CSS3,  Javascript and Angular </strong>
                    </p>
                    <ul>
                        <li>
                            <a href="https://github.com/hiagop22/personal-website" target="_blank">Personal website</a>: 
                            This repository showcasing how I made my own site using HTML5, CSS3, SASS, Javascript, Angular and hosted it on AWS using Terraform to provision the resouces like: S3, CLoudFront, Route53 and Policies.
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <h4>Cloud</h4>
        <div class="flex">
            <div class="object-skill">
                <img src="assets/skills/aws.png" alt="AWS logo">
                <img src="assets/skills/terraform.png" alt="Terraform logo">
                <div class="box">
                    <p>
                        <strong>AWS and Terraform </strong>
                    </p>
                    <ul>
                        <li>
                            <a href="https://github.com/hiagop22/Serveless-API-AWS/tree/master" target="_blank">Serveless API AWS</a>: This project demonstrates a simple project showcasing how to create an API in AWS using Terraform + FastAPI + Pytest + ECR + JWT + Lambda.
                        </li>
                        <li>
                            <a href="https://github.com/hiagop22/personal-website" target="_blank">Personal website</a>: 
                            This repository showcasing how I made my own site and hosted it on AWS using Terraform to provision the resouces like: S3, CLoudFront, Route53 and Policies.
                        </li>
                    </ul>  
                </div>
            </div>
        </div>

        <h4>Database</h4>
        <div class="flex">
            <div class="object-skill">
                <img src="assets/skills/postgreSQL.png" alt="PostgreSQL logo">
                <div class="box">
                    <p>
                        <strong>PostgreSQL</strong>
                    </p>
                    <ul>
                        <li>
                            <a href="https://github.com/hiagop22/socialmedia" target="_blank">Database for Social Network</a>: Utilized Br Model for developing Entity-Relationship and Relational Model diagrams. 
                            <br>
                            Applied relational algebra
                            for query applications. Table normalization and use of PostgreSQL as engine.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="object-skill">
                <img src="assets/skills/mysql.png" style="background-color: white;" alt="MySQL logo">
                <div class="box">
                    <p>
                        <strong>MySQL</strong>
                    </p>
                    <ul>
                        <li><a href="https://github.com/hiagop22/SQL-Exercises" target="_blank">SQL-Exercises</a>: Advanced SQL techniques for obtaining Insights in a public relational database..</li>
                    </ul>
                </div>
            </div>
        </div>

        <h4>Container</h4>
        <div class="flex">
            <div class="object-skill">
                <img src="assets/skills/docker-logo.png" alt="Docker logo">
                <img src="assets/skills/docker-compose.png" alt="Docker Compose logo">
                <div class="box">
                    <p>
                        <strong>Docker and Docker Compose</strong>
                    </p>
                    <p style="text-align: justify;">
                        Docker compose is widely used in my current job for managing containers running on EC2 instances, with specific focus on autostart, volume definition, and access ports. 
                        The following project contains Docker technology included:
                    </p>
                    <ul>
                        <li>
                            <a href="https://github.com/hiagop22/Serveless-API-AWS/tree/master" target="_blank">Serveless API AWS</a>: This project demonstrates a simple project showcasing how to create an API in AWS using Terraform + FastAPI + Pytest + ECR + JWT + Lambda.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- <div class="object-skill">
                <div class="box">
                    <strong>Docker Compose </strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rem vero minus optio, tempore dolor, suscipit reiciendis sit neque veritatis delectus non eaque necessitatibus qui. Aliquid sequi molestias alias impedit?
                </div>
            </div> -->
        </div>
    </div>
</section>