<section id="timeline">
    <div class="content">
        <h3>Timeline</h3>
        <h3 class="sub">AWS Certifications</h3>
        <ul class="aws">
            <li id="cert-developer">
                <a class="img" href="{{devCertLink}}" target="_blank">
                </a>
                <h4><a href="{{devCertLink}}" target="_blank">Developer Associate</a></h4>
                <h5>Issued on Dec 2023</h5>
                <p>Expires on December 08, 2026. "Earners of this certification have a comprehensive understanding of application life-cycle management".</p>
            </li>
            <li id="cert-architect">
                <a class="img" href="{{arcCertLink}}" target="_blank">
                </a>
                <h4><a href="{{arcCertLink}}" target="_blank">Solutions Architect Associate</a></h4>
                <h5>Issued on Oct 2023</h5>
                <p>Expires on December 08, 2026. "Earners of this certification have a comprehensive understanding of AWS services and technologies".</p>
            </li>
            <li id="cert-practitioner">
                <a class="img" href="{{pracCertLink}}" target="_blank">
                </a>
                <h4><a href="{{pracCertLink}}" target="_blank">Cloud Practioner</a></h4>
                <h5>Issued on Oct 2023</h5>
                <p>Expires on December 08, 2026. "Earners of this certification have a fundamental understanding of IT services and their uses in the AWS Cloud".</p>
            </li>
        </ul>
        <hr>
        <h3 class="sub">Papers and Reports</h3>
        <ul>
            <li id="cnpq">
                <a class="img" href="{{cnpqLink}}" target="_blank">
                </a>
                <h4><a href="{{cnpqLink}}" target="_blank">
                Paper Publication</a></h4>
                <h5><span><a href="{{unbLink}}" target="_blank">University of Brasilia</a></span> Jun 2023</h5>
                <p>
                    Gularte, K. H. M., Gómez, J. C. G., dos Santos Rabelo, H., & Vargas, J. A. R. Minimal underactuated synchronization with applications to secure communication.
                </p>
            </li>
            <li id="unb">
                <a class="img" href="{{finalCourseLink}}" target="_blank">
                </a>
                <h4><a href="{{finalCourseLink}}" target="_blank">Final Course Project</a></h4>
                <h5><span><a href="{{unbLink}}" target="_blank">University of Brasilia</a></span> Aug 2020 - Jul 2023</h5>
                <p>
                    Development of an autonomous agent able of scoring goals through neural networks.
                </p>
            </li>
        </ul>
        <hr>
        <h3 class="sub">Experience and Education</h3>
        <ul>
            <li id="rm">
                <a class="img" href="{{rmLink}}" target="_blank">
                </a>
                <h4>Software Developer</h4>
                <h5><span><a href="{{rmLink}}" target="_blank">Radio Memory</a></span> Jun 2021 - Present</h5>
                <p>
                    Deployment of APIs using Chalice, Flask and FastAPI on AWS infrastructure using Docker.
                    Use of Terraform to manage infrastructure as code (IaC). <br>
                    Works on all the steps of model development, from data mining and model training to model deployment on AWS infrasctructure. <br>
                    Development and finetuning of neural network based on computer vision tasks, such as: keypoint detection, semantic segmentation, object detection, single and multilabel classification, siamese model, generative adversarial network (GAN) and transformer. <br>
                    Use of unsupervised algorithms to outlier detection and streamlit tool to result presentation.
                </p>
            </li>
            <li id="pibic">
                <a class="img" href="{{pibicLink}}" target="_blank">
                </a>
                <h4>Researcher</h4>
                <h5><span><a href="{{unbLink}}" target="_blank">University of Brasilia </a></span> Aug 2019 - Nov 2020</h5>
                <p>
                    Took part in a research project for the Scientific Initiation Program <a href="https://proic.unb.br/" target="_blank">(PIBIC)</a>. At the end of the project, an abstract named <a href="{{pibicLink}}">"Underactuated hyper chaotic synchronization with applications in secure telecommunications"</a> was published in the 17th Congress of Scientific Initiation of the Federal District.
                </p>
            </li>
            <li id="unball">
                <a class="img" href="{{unballLink}}" target="_blank">
                </a>
                <h4>Volunteer work</h4>
                <h5><span><a href="{{unballLink}}" target="_blank">UnBall</a></span> Jun 2018 - 2022</h5>
                <p>
                    A volunter work aimed for make autonomous robots to play soccer in international champions. I developed and teached  python scripts. Developed and teached reinforcement learning and neural networks. Responsible for financial management and generating monthly reports for project contributors.
                </p>
            </li>
            <li id="mat">
                <a class="img" href="{{matLink}}" target="_blank">
                </a>
                <h4>Teaching Assistant</h4>
                <h5><span><a href="{{matLink}}" target="_blank">University of Brasília</a></span> Aug 2017 - Jul 2019</h5>
                <p>
                    Support students in the subjects of Introduction to Linear Algebra; Calculus 3 (Multivariable Differential and Integral Calculus); Calculus 2 (Series and Differential Equations); Algorithms and Computer Programming.
                </p>
            </li>
            <li id="maratona">
                <a class="img" href="{{maratLink}}" target="_blank">
                </a>
                <h4>Competitor</h4>
                <h5><span><a href="{{maratLink}}">IV Programming Marathon</a></span> 2016/02</h5>
                <p>
                    The aim was to solve logic problems using programming to implement solutions.
                </p>
            </li>
            <li id="unb">
                <a class="img" href="{{unbLink}}" target="_blank">
                </a>
                <h4>Student of Mechatronics Engineering</h4>
                <h5><span><a href="{{unbLink}}" target="_blank">University of Brasília (UnB)</a></span> Jun 2016 - Dec 2023</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vero unde dolorem assumenda ipsum asperiores illo quos earum sunt, dolor totam odit eius, quibusdam ad nisi corporis quidem. Eaque, cum?
                </p>
            </li>
            <li id="etb">
                <a class="img" href="{{etbLink}}" target="_blank">
                </a>
                <h4>Student of Electrotechnical Tenchician</h4>
                <h5><span><a href="{{etbLink}}" target="_blank">Technical School of Brasilia (ETB)</a></span> Aug 2014 - Oct 2017</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vero unde dolorem assumenda ipsum asperiores illo quos earum sunt, dolor totam odit eius, quibusdam ad nisi corporis quidem. Eaque, cum?
                </p>
            </li>
         
        </ul>
    </div>
</section>