<section id="timeline">
    <div class="content">
        <h3>Timeline</h3>
        <ul>
            <li id="rm">
                <a class="img" href="https://radiomemory.com.br/" target="_blank">
                </a>
                <h5>2021 - Present</h5>
                <h4>Radio Memory</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vero unde dolorem assumenda ipsum asperiores illo quos earum sunt, dolor totam odit eius, quibusdam ad nisi corporis quidem. Eaque, cum?
                </p>
            </li>
            <li id="unball">
                <a class="img" href="https://unball.github.io/" target="_blank">
                </a>
                <h5>2018 - 2022</h5>
                <h4>UnBall</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vero unde dolorem assumenda ipsum asperiores illo quos earum sunt, dolor totam odit eius, quibusdam ad nisi corporis quidem. Eaque, cum?
                </p>
            </li>
            <li id="cnpq">
                <a class="img" href="https://www.unb.br/" target="_blank">
                </a>
                <h5>2016 - 2023</h5>
                <h4>UnB</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vero unde dolorem assumenda ipsum asperiores illo quos earum sunt, dolor totam odit eius, quibusdam ad nisi corporis quidem. Eaque, cum?
                </p>
            </li>
            <li id="cnpq">
                <a class="img" href="https://www.unb.br/" target="_blank">
                </a>
                <h5>2016 - 2023</h5>
                <h4>UnB</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vero unde dolorem assumenda ipsum asperiores illo quos earum sunt, dolor totam odit eius, quibusdam ad nisi corporis quidem. Eaque, cum?
                </p>
            </li>
            <li id="unb">
                <a class="img" href="https://www.unb.br/" target="_blank">
                </a>
                <h5>2016 - 2023</h5>
                <h4>UnB</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vero unde dolorem assumenda ipsum asperiores illo quos earum sunt, dolor totam odit eius, quibusdam ad nisi corporis quidem. Eaque, cum?
                </p>
            </li>
            <li id="etb">
                <a class="img" href="https://moodle.etb.com.br/course/index.php" target="_blank">
                </a>
                <h5> ? - ? </h5>
                <h4>ETB</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vero unde dolorem assumenda ipsum asperiores illo quos earum sunt, dolor totam odit eius, quibusdam ad nisi corporis quidem. Eaque, cum?
                </p>
            </li>
         
        </ul>
    </div>
</section>