@import "variables";

:host {
    --img-size: 110px;
    --outside-line: 25px;
    --padding-content: 5px 0 50px calc(var(--img-size) + var(--outside-line) + 10px);
}

$back-color: rgba(128, 128, 128, 0.231);
$gray-circle: rgba(0, 0, 0, 0.616);

@media (max-width: $phone-width)  {
    :host{
        --img-size: 60px;
        --outside-line: 25px;
        --padding-content: 15px 0 50px calc(var(--img-size) + var(--outside-line) + 10px);
    }

    ul {
        list-style: none;
        padding-left: 30px;
        padding-right: 10px;
    }
}

@mixin nonAwsLinkImg(){
    position: absolute;    
    left: 0;
    top: 0;
    width: var(--img-size);
    height: var(--img-size);
}

@mixin linkBlock(){
    display: inline-block;
    z-index: 2;
    background-color: transparent;
}

@mixin awsLinkImg(){
    @include nonAwsLinkImg();
    top: 20px;
}


@mixin func($name) {
    @if str-index($string: $name, $substring: "cert") {
        background-size: contain;
    }
    @else {
        background-size: cover;
    }
}

* {
    color: black;
}

section {
    background-color: white;
    min-height: 100%;
}

div.content {
    background-color: $back-color;
}

@media (min-width: $phone-width)  {

    ul {
        list-style: none;
        padding-left: 40px;
        padding-right: 40px;
    }
}

h3.sub {
    font-size: 1.3rem;;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 25px;
    padding-top: 0px;
    text-decoration: underline $color3 2px;
}

h3.sub::before {
    content: "•";
    margin-right: 0.5em;
    color: $gray-circle;
    display:inline-block;
}

h4 a {
    text-decoration: none;
}

h5 {
    padding: 8px;
}

h5, h5 a {
    font-weight: normal;
    text-decoration: none;
    color: $gray-circle;
}

h5 a:hover , h4 a:hover {
    text-decoration: underline;
}


span::after {
    content: " •";
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: $gray-circle;
}

hr {
    margin-bottom: 50px;
}

li {
    position: relative;
    overflow: hidden;
    padding: var(--padding-content);
    text-align: left;
}



ul:not(.aws) li::before {
    /* box-sizing: border-box; */
    content: "";
    position: absolute;
    left: calc(var(--img-size) / 2);
    top: calc(var(--img-size) / 2);
    width: calc(var(--img-size) /2 + var(--outside-line));
    height: 999px;
    border: 2px solid $color2;
    border-width: 2px 0 0 2px;
}

ul:not(.aws) li:last-child::before {
    border-width: 2px 0 0;
    border-left: 2px solid transparent;
}

ul:not(.aws) li::after{
    box-sizing: border-box;
    content: "";
    @include nonAwsLinkImg();
    border: 2px solid $color2;
    border-radius: 50%;
    z-index: 0;
}




ul.aws li::after{
    box-sizing: border-box;
    content: "";
    @include awsLinkImg();
}



$imgs: "etb", "unb", "maratona", "mat", 
       "unball", "pibic", "cnpq", "rm",
       "cert-practitioner", "cert-architect", "cert-developer";
@each $img in $imgs {
  li##{$img}::after {
    background: url(../../../assets/timeline/#{$img}.png) no-repeat;
    @include func($img);
    }
}

ul:not(.aws) a.img {
    @include linkBlock();
    @include nonAwsLinkImg();
    border-radius: 50%;
}

ul.aws a.img {
    @include linkBlock();
    @include awsLinkImg();
}


ul.aws li a {
    text-decoration: none;
}

ul.aws li a:hover {
    text-decoration: underline;
}