<section id="timeline">
    <div class="content">
        <h3>Timeline</h3>
        <ul>
            <li id="rm">
                <a class="img" href="https://radiomemory.com.br/" target="_blank">
                </a>
                <h5>2021 - Present</h5>
                <h4><a href="https://radiomemory.com.br/" target="_blank">Radio Memory</a></h4>
                <p>
                    Deployment of APIs using Chalice, Flask and FastAPI on AWS infrastructure using Docker and Terraform.
                    Use of Terraform to manage infrastructure as code (IaC). <br>
                    Works on all the steps of model development, from data mining and model training to model deployment on AWS infrasctructure. <br>
                    Development and finetuning of neural network based on computer vision tasks, such as: keypoint detection, semantic segmentation, object detection, single and multilabel classification, siamese model, generative adversarial network (GAN) and transformer. <br>
                    Use of unsupervised algorithms to outlier detection and streamlit tool to result presentation.
                </p>
            </li>
            <li id="cnpq">
                <a class="img" href="https://www.sciencedirect.com/science/article/abs/pii/S1007570423002940" target="_blank">
                </a>
                <h5>2023</h5>
                <h4><a href="https://www.sciencedirect.com/science/article/abs/pii/S1007570423002940" target="_blank">Paper Publication</a></h4>
                <p>
                    Gularte, K. H. M., Gómez, J. C. G., dos Santos Rabelo, H., & Vargas, J. A. R. Minimal underactuated synchronization with applications to secure communication.
                </p>
            </li>
            <li id="pibic">
                <a class="img" href="https://drive.google.com/file/d/1x3nXGaJkBrptyTTD4qxc-FSLKuZEfjRa/view" target="_blank">
                </a>
                <h5>2019 - 2020</h5>
                <h4><a href="https://drive.google.com/file/d/1x3nXGaJkBrptyTTD4qxc-FSLKuZEfjRa/view" target="_blank">Scientific Research </a></h4>
                <p>
                    Took part in a research project for the Scientific Initiation Program <a href="https://proic.unb.br/" target="_blank">(PIBIC)</a>. At the end of the project, an abstract named <a href="https://drive.google.com/file/d/1x3nXGaJkBrptyTTD4qxc-FSLKuZEfjRa/view">"Underactuated hyper chaotic synchronization with applications in secure telecommunications"</a> was published in the 17th Congress of Scientific Initiation of the Federal District.
                </p>
            </li>
            <li id="unball">
                <a class="img" href="https://unball.github.io/" target="_blank">
                </a>
                <h5>2018 - 2022</h5>
                <h4><a href="https://unball.github.io/" target="_blank">UnBall Team - Autonomous Robot Soccer</a></h4>
                <p>
                    A volunter work aimed for make autonomous robots to challenge in international champions. I developed and teached  python scripts. Developed and teached reinforcement learning and neural networks. Responsible for financial management and generating monthly reports for project contributors.
                </p>
            </li>
            <li id="mat">
                <a class="img" href="https://mat.unb.br/" target="_blank">
                </a>
                <h5>2016 - 2023</h5>
                <h4>UnB</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vero unde dolorem assumenda ipsum asperiores illo quos earum sunt, dolor totam odit eius, quibusdam ad nisi corporis quidem. Eaque, cum?
                </p>
            </li>
            <li id="maratona">
                <a class="img" href="http://maratona.unb.br/" target="_blank">
                </a>
                <h5>2016/02</h5>
                <h4>Programming Marathon</h4>
                <p>
                    The aim was to solve logic problems using programming to implement solutions.
                </p>
            </li>
            <li id="unb">
                <a class="img" href="https://www.unb.br/" target="_blank">
                </a>
                <h5>2016 - 2023</h5>
                <h4>UnB</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vero unde dolorem assumenda ipsum asperiores illo quos earum sunt, dolor totam odit eius, quibusdam ad nisi corporis quidem. Eaque, cum?
                </p>
            </li>
            <li id="etb">
                <a class="img" href="https://moodle.etb.com.br/course/index.php" target="_blank">
                </a>
                <h5> 2014 - 2017 </h5>
                <h4>ETB</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vero unde dolorem assumenda ipsum asperiores illo quos earum sunt, dolor totam odit eius, quibusdam ad nisi corporis quidem. Eaque, cum?
                </p>
            </li>
         
        </ul>
    </div>
</section>