
h3 {
    color: white;
}

h4 {
    text-align: left;
    padding-left: 20px;
    padding-top: 50px;
}

h4:first-of-type {
    padding-top: 0px;
    /* background-color: red; */
}

h4::before {
    content: "\2022";
    margin-right: 0.5em;
}

section div.content {
    background-color: color-mix(in oklab, transparent, var(--color3) 15%);
}

section div.flex {
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    /* width: 50%; */
    justify-content: center;
    /* align-items: center; */
}

section div.object-skill {
    text-align: center;
    margin: 20px;
}

section div.object-skill img{
    width: 50px;
    height: 50px;
    /* background-color: rebeccapurple; */
}

section div.object-skill p{
    width: 300px;
    height: 250px;
    background-color: white;
    /* border-radius: 20px; */
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    padding: 20px;
    color: black;
    text-align: justify;
    box-shadow: 5px 5px 10px black;
    border-bottom: 3px solid white;
}

section div.object-skill p:hover {
    border-bottom: 3px solid red;
    transition: ease-in-out 0.3s;
}