@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --color1: #fff;
    --color2: #676f9d;
    --color3: #424769;
    --color4: #2d3250;
    --color5: #161E31;
    --color6: #f9b17a;

    --font1: "Lato", sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    background-color: var(--color5);
    height: 100vh;
    /* width: 100vw; */
    font-family: var(--font1);
}

/* hide horizontal scoll */
/* html, body {
    overflow-x: auto;
} */

header {
    background: linear-gradient(to top, var(--color5), rgba(255, 255, 255, 0.044)), url("../assets/pexels-photo-13618459.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: bottom center;
    background-size: cover;
}

header div#nav {
    width: 100%;
    
    overflow: hidden;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    z-index: 2;
}

.menu-color {
    background-color: #2d3250e8;
    transition: 0.5s;
}

.color-js {
    border-bottom: var(--color4) 2px solid; 
    transition: 0.5s;
}

.non-color-js {
    margin: auto;
    text-align: center;
    width: 60%;
    border-bottom: var(--color2) 2px solid; 
}

header div#nav ul{
    /* border-bottom: var(--color4) 2px solid;  */
    text-align: center;
    text-transform: uppercase;
    padding: 25px;
}

header div#nav a {
    text-decoration: none;
    padding: 25px 20px;
    color: white;
}

header div#nav a:hover {
    border-bottom: var(--color6) 2px solid;
    padding-bottom: 25px;
    color: var(--color6);
}

header div#nav a.menu-active {
    border-bottom: var(--color6) 2px solid;
    padding-bottom: 25px;
    color: var(--color6);
}

header li {
    display: inline;
}

header div#div-home {
    padding-top: 50px;
}

header img#me-img {
    display: block;
    margin: auto;

    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    border: 8px solid white;

}

header h1, h2, h3, p {
    text-align: center;
    color: var(--color1);
}

h1 {
    font-size: 5em;
    /* margin-top: 150px; */
    padding-bottom: 20px;
    color: var(--color1);
}

h3 {
    font-weight: bolder;
}

header p {
    margin: auto;
    max-width: 600px;
    border-bottom: 1px var(--color2) solid;
    padding: 10px 0px;
    color: var(--color1);
}



header div.cert-container {
    margin: auto;
    text-align: center;
    margin-top: 50px;
    max-width: 370px;
    /* background-color: white; */
}


header img.cert {
    padding: 15px 10px;
    width: 100px;
    /* background-color: black; */
}


header div.cert-container:hover img:not(:hover) {
    filter: blur(2px);
    z-index: 0;
    position: relative;
}

header div.cert-container:hover img:hover {
    /* transform: translate(-15px, -15px);
    filter: drop-shadow(15px 15px 0 var(--color4)); */
    transform: scale(1.2);
    position: relative;
    z-index: 1;
}

article p, article h1 {
    line-height: 1.7em;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

article p {
    font-size: 1.2em;
}

article h3 {
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

/* div#about-elements { */
    /* position: relative; */
    /* margin: auto; */
    /* display: flex; */
    /* max-width: 1000px; */
    /* background-color: burlywood; */
/* } */

section#about {
    overflow-x: hidden;
}

/* div#about-back {
    position: absolute;
    background-color: white;
    height: 600px;
    width: 10000px;
    top: 50%;
    left: -1000px;
    z-index: -1;

    transform: translateY(-50%);
} */
/* 
section#about div#img-about {
    background: url("../assets/church.jpeg") no-repeat;
    background-position: center center;
    background-color: white;
    background-size: cover;
    width: 35%;
    height: 630px;


    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.332);
    border-bottom: var(--color3) 10px solid; 

    margin-left: 20px;
    filter: grayscale(50%);
} */

section#about {
    background: black url("../assets/national-museum.jpg") no-repeat fixed;
    background-position: center center;
    background-size: cover;

    
}

section#about div#content-about {
    /* margin-top: 40px; */
    /* margin-left: 20px; */
    background-color: #ffffffce;
    width: 60%;
    margin: auto;
    text-align: center;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    /* border-radius: 50px; */
    /* box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.213); */
    /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.24),
                0px 0px 5px rgba(0, 0, 0, 0.24); */
    height: 100vh;
    /* z-index: 2; */
}

section#about p, section#about h3 {
    color: black;
}

section#skills {
    display: block;
    margin: auto;
    width: 50%;
}