@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --color1: #fff;
    --color2: #676f9d;
    --color3: #424769;
    --color4: #2d3250;
    --color5: #161E31;
    --color6: #f9b17a;

    --font1: "Lato", sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    background-color: var(--color5);
    height: 100vh;
    width: 100vw;
    font-family: var(--font1);
}

/* hide horizontal scoll */
html, body {
    overflow-x: auto;
}


header {
    background: linear-gradient(to top, var(--color5), rgba(255, 255, 255, 0.044)), url("../assets/pexels-photo-13618459.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: bottom center;
    background-size: cover;
}

header > div#nav {
    width: 80%;
    margin: auto;
}


header > div#nav > ul{
    border-bottom: var(--color2) 2px solid;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

header a {
    text-decoration: none;
}

header div#nav a:hover {
    border-bottom: var(--color6) 2px solid;
    padding-bottom: 20px;
    color: var(--color6);
}


/* header > div#nav > ul:hover::before {
    border-bottom: var(--color2) 1px solid;
} */

header li {
    display: inline;
}

header li {
    color: var(--color1);
    padding: 0px 20px 0px 0px;
}

header img {
    display: block;
    margin: auto;
    
    margin-top: 150px;
    width: 250px;
    border-radius: 50%;
    border: 8px solid white;
}

header h1, h2, p {
    text-align: center;
    color: var(--color1);
}

/* header p {
    margin: auto;
    width: 600px;
    border-bottom: 1px var(--color2) solid;
    padding-bottom: 10px;
} */

header h1 {
    font-size: 5em;
    /* margin-top: 150px; */
    padding-bottom: 20px;
}

/* 
header > div#header1 > ul > li{
    border-bottom: var(--color2) 1px solid;
} */


main > article > p, main > article > h1 {
    line-height: 1.7em;
}